**/**/cache
**/.terraform

CALambdaNetDemo/src/CALambdaNetDemo/bin
CALambdaNetDemo/src/CALambdaNetDemo/obj

CALambdaNetDemo/test/CALambdaNetDemo.Tests/bin
CALambdaNetDemo/test/CALambdaNetDemo.Tests/obj